body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

canvas {
  margin: 0 auto;
  border: 1px solid #000;
  transform: scale(2);
  background: url(../img/haoren.png) no-repeat 50% 5%;
  background-size: 50%;
  transform-origin: top center;
}
@media screen and (max-width: 1538px) {
  canvas {
    transform: scale(1.6);
  }
}

@media screen and (max-width: 1367px) {
  canvas {
    transform: scale(1.3);
  }
}
@media screen and (max-width: 900px) {
  canvas {
    transform: scale(1);
    margin-top: 20px;
  }
}

button {
  margin-top: 200px;
  padding: 10px 20px;
  font-size: 16px;
}

p {
  position: absolute;
  font-size: 24px;
  text-align: right;
  left: 10vh;
}

.tpoint {
  top: 10vh;
}
.tlevel {
  top: 50vh;
}
span {
  display: block;
  font-size: 32px;
}
